<div class="cajafooter">
    <div class="cajafooterizq"></div>
    <div>
        <h2 style="margin-left: 20px;">PagosPiolaBanking</h2>
        <img src="../../../assets/banking.png" class="fotofooter">
        <div class="lineafooter"></div>
    </div>
    <ul class="">
        <br>
        <li>Contactos</li>
        <li>Terminos y condiciones</li>
        <li>Información</li>
        <li>Reclamos</li>
    </ul>
    <h6 style="position:absolute; margin-left: 80%;">@2023 - Todos los derechos reservados</h6>
</div>